.button {
    --prefered-color-top: #ffffff;
    --prefered-color-side: #777777;
    --text-color: #000000;
    --text-size: 16px;
    --text-boldness: normal;

    background-color: #ffffff00;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;

    position: relative;

    --set-height: 40px;
    --set-width: 150px;

    height: var(--set-height);
    width: var(--set-width);
}

.button-shadow, .button-side, .button-top {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.button-shadow {
    background-color: #0000007a;
    transform: translateY(3px);
    transition: transform 100ms cubic-bezier(0,0.54,0.64,1.4);
}

.button-side {
    background-color: var(--prefered-color-side);
}

.button-top {
    background-color: var(--prefered-color-top);
    color: var(--text-color);
    font-size: var(--text-size);
    font-weight: var(--text-boldness);

    align-content: center;
    justify-content: center;

    will-change: transform;

    transform: translateY(-3px);
    transition: transform 100ms cubic-bezier(0,0.54,0.64,1.4);
}

.button:active .button-shadow {
    transform: translateY(2px);
    transition: transform 50ms cubic-bezier(0,0.54,0.64,1.4);
}

.button:active .button-top {
    transform: translateY(-2px);
    transition: transform 50ms cubic-bezier(0,0.54,0.64,1.4);
}

.button:hover .button-top {
    filter: brightness(110%);
}

.website-highlight-button{
    --set-height: 50px;
    --set-width: 50%;
    --prefered-color-side: #945352;
    --prefered-color-top: #fb918f;
    --text-color: black;
}

.card-button {
    --set-height: 50px;
    --set-width: 90%;
    --prefered-color-side: #945352;
    --prefered-color-top: #fb918f;
}

/*Find Page*/
.search-box-add-remove-field-button {
    --set-height: 30px;
    --set-width: 30px;
    margin: 0 0 7px 0;
}

/*Form Submission Button*/
.submit-form-button {
    --set-width: 50%;
    --prefered-color-side: #5d6f80;
    --prefered-color-top: #9ab7d3;
    --text-color: black;

    grid-column-start: 2;
    grid-row-start: 17;

    margin-top: 10px;
    justify-self: end;
}

.submission-link-button {
    --set-width: 100%;
    --prefered-color-side: #635788;
    --prefered-color-top: #8e7cc3;
    --text-color: white;
    --text-size: 1.7em;
    --text-boldness: normal;
    margin-top: 20px;
}