body {
    padding: 0;
    margin: 0;
}

.homepage-header {
    display:flex;
    flex-direction: column;

    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),rgb(0, 0, 0, 0.5)),
        url("/images/website/ElPasoView1920x823.jpg");
    background-size: cover;
}
.top-bar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.top-bar-nav-button {
    display: block;
    background-color: #ffffff00;
    border: none;
    height: 10%;
    cursor: pointer;

    color: white;
    font-size: 20px;
    padding: 10px;
}

.top-bar-nav-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 4px;
}

.homepage-header-image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
    width: 100%;
    margin: 20px;
}

.home-header-text {
    text-align: center;
    color: white;
    margin: 0px;
}

.homepage-main {
    display: flex;
    flex-direction: column;
}

.quick-search-section {
    display:flex;
    justify-content: center;
    align-items: center;

    min-height: 150px;
    background-color: #ffd497;
}