body {
    padding: 0;
    margin: 0;
}

.common-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #ffd497;
}

.common-header-logo-holder {
    flex: 1;
}
.common-header-logo {
    height: 80px;
    width: 80px;
    margin: 0 0 0 10px;
    cursor: pointer;
}

.common-top-nav-link {
    height: 100%;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.common-top-nav-link:hover {
    text-decoration: underline;
    background-color: #aa8d61;
}

.homepage-header {
    display:flex;
    flex-direction: column;

    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),rgb(0, 0, 0, 0.5)),
        url("/images/website/ElPasoView1920x823.jpg");
    background-size: cover;
}
.top-bar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.top-bar-nav-button {
    display: block;
    background-color: #ffffff00;
    height: 10%;
    color: white;
    font-size: 20px;
    padding: 10px;

    text-decoration: none;
}

.top-bar-nav-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    text-decoration: underline;
}

.homepage-header-image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
    width: 100%;
    margin: 20px;
}

.home-header-text {
    text-align: center;
    color: white;
    margin: 0px;
}

.page-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.quick-search-section {
    display:flex;
    justify-content: center;
    align-items: center;

    min-height: 150px;
    background-color: #ffd497;
}

.top-3-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-3-header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*Post Cards*/
.cards-holder { /*Card holder is just a div that holds the cards, not the actual card*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    height: auto;
    width: 100%;

    gap: 1em;
    margin: 0 0 1em 0;
    
}

.info-card { /*Actual Card Body*/
    --back-color: #bdd0c4;
    --set-height: 500px;
    --set-width: 450px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: var(--set-height);
    max-width: var(--set-width);
    padding: 0;
    margin: 0;
    border-radius: 5px;

    box-shadow: 
        0px 4px 8px 0px rgba(0, 0, 0, 0.3), 
        0px 6px 20px 0px rgba(0, 0, 0, 0.2);

    background-color: var(--back-color);
    overflow: hidden;

    will-change: transform;
    transform: translateY(0px);
    transition: 
        transform
        100ms
        cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-image {
    height: 50%;
    width: 100%;
    background-image: url("/images/website/franklin_mountain_loading_icon.jpg");
    background-size: cover;
}

.card-title {
    height: auto;
    width: 98%;
    margin: 5px 0 5px 0;
    font-family: Arial, Helvetica, sans-serif
}

.card-summary {
    margin: 0 5px 0 5px;
    padding: 0;
    height: 20%;
    width: var(--set-width);
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif
    
}

.card-info {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    height: 5%;
    width: 98%;
}

.card-rating {
    --percent: 100%; /*Percent to increase or decrease rating*/
    height: 100%;
    width:100px;
    background-image: linear-gradient(
        90deg,
        yellow var(--percent),
        rgb(0,0,0,0) var(--percent)
    );

    mask-image: url("/images/website/icons/star-mask.png");
    mask-size: 20px 20px;
    mask-repeat: repeat-x;
}

.card-date {
    flex: 1;
    margin: 0;
    padding: 0 5px 0 0;
    height: 100%;
    text-align: right;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

.info-card:hover {
    transform: translateY(-3px);
    transition: 
        transform
        50ms
        cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*Footer*/
.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    width: 100%;

    background-color: #ffd497;
}

.footer-logo {
    height: 100px;
    width: 100px;
}

.footer-link {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

/*Search.html*/
.search-filter-section {
    width: 100%;
}

.search-box {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 
        0px 4px 8px 0px rgba(0, 0, 0, 0.3), 
        0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(240, 248, 248);
    margin: 50px;
    padding: 15px;
}

.search-box-header {
    margin: 0;
}

.search-box-input-fields-holder {
    display: flex;
    flex-direction: column;
}

.search-box-input-field {
    margin: 10px 0 10px 0;
}

.page-separation {
    width: 70%;
    background-color: lightgray;
    color: lightgrey;
}

#search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 20px 20px;
}

.search-result {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    background-color: rgb(240, 248, 248);
    box-shadow: 
        0px 4px 8px 0px rgba(0, 0, 0, 0.3), 
        0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    max-height: 150px;
    overflow: hidden;
    cursor: pointer;
}

.search-result-img {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.search-result-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.search-result-title {
    margin: 0px 0px 0px 15px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.short-summary {
    margin: 5px 0px 0px 15px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-lines: 4;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

/*Form Submission for submit.html*/
.form-behaviour-info {
    margin: 0;
    padding: 0;
}

.form-required {
    color: red;
}

.field-info {
    background-color: grey;
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
    border-radius: 22px;
    text-align: center;
    color: white;
}

.submission-form {
    display: grid;
    gap: 5px;
    grid-template-columns: 30% 70%;
    margin: 30px;
    padding: 10px;
    box-shadow: 
        0px 4px 8px 0px rgba(0, 0, 0, 0.3), 
        0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    background-color: #e6eaeb;
}

#form-header {
    grid-column: 1 / span 2;
}
.form-behaviour-info-element {
    margin: 0;
    padding: 0;
    grid-column: 1 / span 2;
}

/*Addition Info & Contact*/
#form-addition-info-contact-header {
    grid-column: 1 / span 2;
}


/*Addition Image*/
input[type="file"] {
    display: none;
    position: absolute;
    z-index: -1;
}

#uploaded-image-displayed-addi {
    height: 50%;
    width: 50%;
    object-fit: contain;
}

#uploaded-image-displayed-org {
    height: 50%;
    width: 50%;
    object-fit: contain;
}

#image-uploaded-modal {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image-uploaded-modal.open {
    display: flex;
    flex-direction: column;
    opacity: 1;
    z-index: 999;
}

.form-image-section-header .form-addi-upl-holder {
    display: flex;
    flex-direction: row;
}

#form-add-image-input-organization {
    display: inline-block;
    cursor: pointer;
    margin: 0px;
    font-size: 9px;
    height: auto;
    width: 0;
}

.form-file-upload-btn {
    display: inline-block;
    cursor: pointer;
    margin: 0px;

    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 3px;
    font-size: 12px;
    height: auto;
    width: 50%;

    text-align: center;
    background-color: white;
}

.form-view-img-btn {
    height: auto;
    width: 20%;
}

.form-remove-img-btn {
    height: auto;
    width: 25%
}

#form-image-section-header {
    grid-column: 1 / span 2;
}

#form-field-question {
    display: inline-block;
    height: 22px;
    width: 22px;
    border-radius: 11px;
    text-align: center;

    background-color: grey;
    color:black;
    margin: 0 7px 0 0;
}

/*Addition Summary*/
#form-summaries-header {
    grid-column: 1 / span 2;
}

/*Date Section*/
#form-date-header {
    grid-column: 1 / span 2;
}

#form-ranged-date-toggle-holder {
    grid-column: 1 / span 2;
}

#form-single-date {
    grid-column: 1 / span 2;
}

#form-multi-date {
    grid-column: 1 / span 2;
}

/*Page Submissions Element Styles*/
.submission-info {
    display: flex;
    justify-content: center;
    align-content: center;
}

.panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 
        0px 4px 8px 0px rgba(0, 0, 0, 0.3), 
        0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(240, 248, 248);
}

#panel-name {
    font-family: Arial, Helvetica, sans-serif;
}

.panel-contact-elements {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    flex: 1;
}
.panel-contact-info-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    flex: 1;
}

.panel-info-contact {
    margin: 5px 0 5px 0;
    padding: 0;
    font-size: 20px;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}

.panel-info-logo {
    max-height: 300px;
    width: 50%;
    object-fit: contain;
}

.panel-summary-holder {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.panel-summary {
    font-size: 20px;
    margin: 20px 0px 0px 0px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}