body {
    padding: 0;
    margin: 0;
}

.common-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #ffd497;
}

.common-header-logo-holder {
    flex: 1;
}
.common-header-logo {
    height: 80px;
    width: 80px;
    margin: 0 0 0 10px;
}

.common-top-nav-link {
    height: 100%;
    margin: 0 20px 0 0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.common-top-nav-link:hover {
    text-decoration: underline;
    background-color: #aa8d61;
}

.homepage-header {
    display:flex;
    flex-direction: column;

    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),rgb(0, 0, 0, 0.5)),
        url("/images/website/ElPasoView1920x823.jpg");
    background-size: cover;
}
.top-bar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.top-bar-nav-button {
    display: block;
    background-color: #ffffff00;
    height: 10%;
    color: white;
    font-size: 20px;
    padding: 10px;

    text-decoration: none;
}

.top-bar-nav-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 4px;

    text-decoration: underline;
}

.homepage-header-image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
    width: 100%;
    margin: 20px;
}

.home-header-text {
    text-align: center;
    color: white;
    margin: 0px;
}

.page-main {
    display: flex;
    flex-direction: column;
}

.quick-search-section {
    display:flex;
    justify-content: center;
    align-items: center;

    min-height: 150px;
    background-color: #ffd497;
}

.top-3-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-3-header {
    text-align: center;
}

/*Post Cards*/
.cards-holder { /*Card holder is just a div that holds the cards, not the actual card*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    height: auto;
    width: 100%;

    gap: 1em;
    margin: 0 0 1em 0;
    
}

.info-card { /*Actual Card Body*/
    --back-color: #bdd0c4;
    --set-height: 500px;
    --set-width: 450px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: var(--set-height);
    min-width: var(--set-width);
    padding: 0;
    margin: 0;
    border-radius: 12px;

    background-color: var(--back-color);
    overflow: hidden;

    will-change: transform;
    transform: translateY(0px);
    transition: 
        transform
        100ms
        cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-image {
    height: 50%;
    width: 100%;
    background-image: url("/images/website/franklin_mountain_loading_icon.jpg");
    background-size: cover;
}

.card-title {
    height: auto;
    width: 98%;
    margin: 5px 0 5px 0;
}

.card-summary {
    margin: 0 5px 0 5px;
    padding: 0;
    height: 20%;
    width: var(--set-width);
    overflow-y: hidden;
    
}

.card-info {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    height: 5%;
    width: 98%;
}

.card-rating {
    --percent: 100%; /*Percent to increase or decrease rating*/
    height: 100%;
    width:100px;
    background-image: linear-gradient(
        90deg,
        yellow var(--percent),
        rgb(0,0,0,0) var(--percent)
    );

    mask-image: url("/images/website/icons/star-mask.png");
    mask-size: 20px 20px;
    mask-repeat: repeat-x;
}

.card-date {
    flex: 1;
    margin: 0;
    padding: 0 5px 0 0;
    height: 100%;
    text-align: right;
    color: black;
}

.info-card:hover {
    transform: translateY(-3px);
    transition: 
        transform
        50ms
        cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*Footer*/
.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    width: 100%;

    background-color: #ffd497;
}

.footer-logo {
    height: 100px;
    width: 100px;
}

.footer-link {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

/*Search.html*/
.search-filter-section {
    height: 100vh;
    width: 100%;
}

.search-box {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: lightgray;
    margin: 50px;
    padding: 15px;
}

.search-box-header {
    margin: 0;
}

.search-box-input-fields-holder {
    display: flex;
    flex-direction: column;
}

.search-box-input-field {
    margin: 10px 0 10px 0;
}